:root {
	--full-dark-color: #121212;
	--dark-color: #2B2B2B;
	--light-dark-color: #5E5E5E;
	--fucsia-color: #E500B3;
	--light-fucsia-color: #F35AD2;
	--dark-fucsia-color: #B2008B;
	--blue-color: #000D7B;
	--light-dark-blue-color: #2C3794;
	--dark-blue-color: #000746;
	--gray-color: #F2F2F2;
	--dark-gray-color: #D9D9D9;
	--white-color: #FFFFFF;
	--error-color: #DA0000;
	--light-error-color: #F87C7C;
	--success-color: #06C23B;
	--default-btn-green: #39b51a;
	--default-btn-purple: #275385;
	--light-success-color: #85DB9D;
	--warning-color: #FF9900;
	--shadow-color: #0000008c;
	--shadow-hover-color: #00000059;
	--light-blue-color: #008BB7;
	--light-gray-color: #D9D9D9;
	--red-theme-color: #A51008;
	--light-red-theme-color: #E53A3C;
	--white-hover-nav: rgba(255, 255, 255, 0.25);
	--default-btnFont-gray: #343a40;
	--font-lightGray: #819595;
	--font-lighter-gray: #EFEFEF;
	--color-blue-btn: #3490dc;
	--color-hover-lightGray: #e9ecef;
	--shadow-color-table: rgba(0, 0, 0, 0.1);
	--shadow-color-btn: rgba(0, 0, 0, 0.35);
	--border-color-table: #dee2e6;
	--background-body-table: #e0e0e0;
	--background-header-table: #ececec;
	--default-btn-black: #212529;
	--default-btn-red: #ff0000;
	--dark-red-sidebar: #D22D2F
}

:root {
	--font-menus: 1.125rem;
	--font-icon-navbar: 1.875rem;
	--font-size-10: 0.625rem;
	--font-size-11: 0.688rem;
	--font-size-12: 0.75rem;
	--font-size-14: 0.875rem;
	--font-size-16: 1rem;
	--font-size-18: 1.125rem;
	--font-size-20: 1.25rem;
	--margin-test: 800px;
}
